<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bulma.min.css')}}">
    
    <title>Olist</title>
</head>
<body>
    <h1>{% block title %} {% endblock %}</h1>
    {% block body %}
    <ol>
        <li><a href="/marketplaces"> Marketplaces</a></li>
        <li><a href="/produtos"> Produtos</a></li>
        <li><a href="/listagem_marketplaces"> Listagem de Marketplaces</a></li>
    </ol>
    

    {% endblock %}
</body>
</html>