{% extends 'index.html' %} {% block title %}
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Lista
            </h1>
            <h2 class="subtitle">
                de logs
            </h2>
        </div>
    </div>
</section>
{% endblock %} {% block body %}
<div class="container is-widescreen">
    <div class="columns">
        <div class="column is-one-fifth">
        </div>
        <div class="column">
            <table class="table center">
                <thead>
                    <tr>
                        <th>Data/Hora</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for linha in lista_logs %} {% if 'listado' in linha['operacao'] or 'listada' in linha['operacao'] %}
                    <tr bgcolor="#708090">
                        <td>{{linha.datetime}}</td>
                        <td>{{linha.description}}</td>
                    </tr>
                    {% else %}
                    <tr bgcolor="#B0C4DE">
                        <td>{{linha.datetime}}</td>
                        <td>{{linha.description}}</td>
                    </tr>
                    {% endif %} {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <hr>
</div>
<div class="container is-widescreen">
    <div class="buttons">
        <a class="button is-link" href="/">Voltar ao início</a>
    </div>
</div>
{% endblock %}