{% extends 'index.html' %} {% block title %}
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Lista
            </h1>
            <h2 class="subtitle">
                de categorias
            </h2>
        </div>
    </div>
</section>
{% endblock %} {% block body %}
<div class="container is-widescreen">
    <div class="columns">
        <div class="column">
        </div>
        <div class="column">
            <table class="table center">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Editar</th>
                        <th>Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in lista_categorias %}
                    <tr>
                        <td>{{category.id}}</td>
                        <td>{{category.name}}</td>
                        <td>{{category.description}}</td>
                        <td> <a href="/categoria/update?id={{category.id}}">Editar</a> </td>
                        <td>
                            <form action="/categoria/delete" method="post">
                                <input type="hidden" name="id" value="{{category.id}}" />
                                <button type="submit" style="background: purple">Deletar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="column">
        </div>
    </div>
    <hr>
</div>
<div class="container is-widescreen">
    <div class="buttons">
        <a class="button is-primary" href="/">Voltar ao início</a>
    </div>
</div>
{% endblock %}