{% extends 'index.html' %} {% block title %}
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Lista
            </h1>
            <h2 class="subtitle">
                de logs
            </h2>
        </div>
    </div>
</section>
{% endblock %} {% block body %}
<div class="container is-widescreen">
    <div class="columns">
        <div class="column is-one-fifth">
        </div>
        <div class="column">
            <table class="table center">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% set cores = { "cadastrando": 'green', "listando": 'gray', "lendo": 'blue', "atualizando": 'purple', "deletando": 'red'} %}
                    <!---->
                    {% for linha in lista_logs %}
                    <tr style="background: {{ cores[linha.action] }}">
                        <td>{{linha.date}}</td>
                        <td>{{linha.hour}}</td>
                        <td>{{linha.description}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <hr>
</div>
<div class="container is-widescreen">
    <div class="buttons">
        <a class="button is-link" href="/">Voltar ao início</a>
    </div>
</div>
{% endblock %}