{% extends 'index.html' %}
{% block title %}
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Lista
            </h1>
            <h2 class="subtitle">
                de sellers
            </h2>
        </div>
    </div>
</section>
{% endblock %}

{% block body %}
<div class="container is-widescreen">
    <div class="columns">
        <div class="column">
        </div>
        <div class="column">
            <table class="table center">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th>E-mail</th>
                    </tr>
                </thead>
                {%for value in sellers%}
                <tbody>
                    <tr>
                        <td>{{value['nome']}}</td>
                        <td>{{value['telefone']}}</td>
                        <td>{{value['email']}}</td>
                    </tr>
                {%endfor%}
                </tbody>
            </table>
        </div>
        <div class="column">
        </div>
    </div>
    <hr>
</div>
<div class="container is-widescreen">
    <div class="buttons">
        <a class="button is-link" href="/">Voltar ao início</a>
    </div>
</div>
{% endblock %}