{% extends 'index.html' %} {% block title %} {% if edit %}
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Atualizar
            </h1>
            <h2 class="subtitle">
                atualize marketplace
            </h2>
        </div>
    </div>
</section>

{% else %}

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Cadastrar
            </h1>
            <h2 class="subtitle">
                cadastre marketplace
            </h2>
        </div>
    </div>
</section>
{% endif %} {% endblock %} {% block body %} {% if edit %}

<div class="container is-widescreen">
    <form action="/marketplace/update" method="post">
        <input type="hidden" name="id" value="{{marketplace.id}}" />
        <div class="field">
            <label class="label">Nome do marketplace</label>
            <div class="control">
                <input class="input" type="text" name="name" value="{{marketplace.name}}" style="width: 30%;" />
            </div>
        </div>
        <div class="field">
            <label class="label">Descrição do marketplace</label>
            <div class="control">
                <input class="input" type="text" name="description" value="{{marketplace.description}}" style="width: 30%;" />
            </div>
        </div>
        <input class="class= button is-link" type='submit' value='Salvar' />
        <a class="button is-link is-light" href="/">Cancelar</a>
    </form>
</div>
{% else %}

<div class="container is-widescreen">
    <form action="/adicionar_marketplaces">
        <div class="field">
            <label class="label">Nome do marketplace</label>
            <div class="control">
                <input class="input" type="text" name="name" style="width: 30%;" required />
            </div>
        </div>
        <div class="field">
            <label class="label">Descrição do marketplace</label>
            <div class="control">
                <input class="input" type="text" name="description" style="width: 30%;" />
            </div>
        </div>
        <input class="class= button is-link" type='submit' value='Cadastrar' />
        <a class="button is-link is-light" href="/">Cancelar</a>
    </form>
</div>
{% endif%} {%endblock%}