{% extends 'index.html' %}
{% block title %}
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Cadastrar
            </h1>
            <h2 class="subtitle">
                um novo seller
            </h2>
        </div>
    </div>
</section>
{% endblock %}

{% block body %}
<div class="container is-widescreen">
    <form action="/adicionar_sellers">
        <div class="field">
            <label class="label">Nome</label>
            <div class="control">
                <input class="input" type="text" name="nome" style="width: 30%;" />
            </div>
        </div>
        <div class="field">
            <label class="label">Sobrenome</label>
            <div class="control">
                <input class="input" type="text" name="sobrenome" style="width: 30%;" />
            </div>
        </div>
        <div class="field">
            <label class="label">Telefone</label>
            <div class="control">
                <input class="input" type="text" name="telefone" style="width: 30%;" />
            </div>
        </div>
        <div class="field">
            <label class="label">E-mail</label>
            <div class="control">
                <input class="input" type="email" name="email" style="width: 30%;" />
            </div>
        </div>
        <input class="class= button is-link" type='submit' value='Cadastrar' />
        <a class="button is-link is-light" href="/">Cancelar</a>
    </form>
</div>
{% endblock %}